.form-wrapper {
  display: flex;
  justify-content: center;
}

.h1-style {
  margin-bottom: 13px;
  margin-left: 16px;
}

.ng-select .ng-select-container {
  color: #333;
  background-color: #f4f4f4 !important;
  border-radius: 4px;
  border: 1px solid #ccc;
  min-height: 36px;
  align-items: center;
}
.ng-select.custom {
  border: 0;
  min-height: 0;
  border-radius: 0 !important;
}
.ng-select.custom ::ng-deep .ng-select-container {
  min-height: 0;
  border-radius: 0;

  background-color: #f4f4f4;
  border: 0;
}
.ng-select.custom {
  border-bottom: 1px solid #8d8d8d;
}
.ng-select .ng-select-container .ng-value-container .ng-placeholder {
  font-family: Roboto, Roboto, sans-serif !important;
  font-size: 14px !important;
  color: #0662fe;
}
.ng-input::placeholder {
}

::ng-deep .ng-select-container {
}
::ng-deep .ng-select .ng-select-container,
::ng-deep .ng-select.ng-select-single .ng-select-container {
  font-family: Roboto, Roboto, sans-serif !important;
  font-size: 14px !important;
}
div.ng-placeholder {
  font-family: Roboto, Roboto, sans-serif !important;
  font-size: 14px !important;
  color: black;
}
.panel {
  margin: 5rem 1rem 5rem 5rem;
  padding: 20px;
  max-width: 500px;
  background-color: white;
  box-shadow: 0 0 10px 0 #afa6a8;
}

.elem {
  margin: 1rem 0 1rem 0;
}
.elem-label {
  margin: 0.5rem 0 0.5rem 0;
}
.elem-buttons {
  display: flex;
  margin-top: 2rem;
}
.bx--btn {
  padding: 0 50px;
  align-items: center;
  margin: 0 1rem 0 1rem;
}
