<button ibmButton="secondary" routerLink='/admin'>Назад</button>
<div class="form-wrapper">
<form (submit)="MatchAddClick()">
    <input ibmText type="text" size="xl"  [(ngModel)]="homeTeamName" name="homeTeamName" placeholder="Enter 1st team name">
    <input ibmText type="text" size="xl" [(ngModel)]="awayTeamName" name="awayTeamName" placeholder="Enter 2st team name">
    <input ibmText size="xl" type="date" [(ngModel)]="date" name="date" placeholder="Enter date">
    <input ibmText size="xl" type="number" [(ngModel)]="scoreHomeTeam" name="scoreHomeTeam" placeholder="Enter score 1st team">
    <input ibmText size="xl" type="number" [(ngModel)]="scoreAwayTeam" name="scoreAwayTeam" placeholder="Enter score 2st team">

    <ng-select class="custom" (change)="onChangeCompetition($event)" [(ngModel)]="selectedCompetition" [items]="competitions"
        bindLabel="name" bindValue="id" placeholder='chose competition' name='selectCompetition'>
        <ng-option *ngFor="let competition of competitions" [value]="competition.id">{{competition.name}}</ng-option>
    </ng-select>
    <ng-select class="ng-select" (change)="onChangeSeason($event)" [(ngModel)]="selectedSeason" [items]="seasons" bindLabel="name"
        bindValue="id" placeholder='chose season' name='selectSeason'>
        <ng-option *ngFor="let season of seasons" [value]="season.id">{{season.name}}</ng-option>
    </ng-select>

    <button ibmButton="secondary" type="submit">Add</button>
</form></div>
