/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~carbon-components/scss/globals/scss/styles.scss";

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: Roboto, Roboto, sans-serif !important;
  font-size: 14px;
}
h1,
label {
  color: #393939;
}

ng-select.custom > div {
  outline: none !important;
  box-shadow: none !important;
}
