.container-button {
  margin-top: 40px;
  margin-left: 20px;
}

button {
  text-align: center !important;
  align-items: center !important;
  margin-left: 40px;
  width: 130px;
  padding: 16px 32px !important;
  min-height: 5rem !important;
}
